@model IEnumerable<FPTBookStore.Models.OrderDetails>

@{
    ViewData["Title"] = "GetOrder";
}

<h2>Order index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.User.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book.BookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order.OrderStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reverse())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.BookTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Order.OrderStatus)
                </td>
                <td>
                    @if (item.Order.OrderStatus == "Pending")
                    {
                        <a asp-action="ShipOrder" asp-route-id="@item.Id" class="btn btn-success btn-sm">Ship order</a>
                    }
                    else if (item.Order.OrderStatus == "Shipping")
                    {
                        <p class="btn btn-warning btn-sm" style="vertical-align:initial">@item.Order.OrderStatus</p>
                    }
                    else
                    {
                        <p class="btn btn-info btn-sm" style="vertical-align:initial">@item.Order.OrderStatus</p>
                    }

                    | <a asp-action="Delete" asp-route-id="@item.Order.Id"><i class="fa-solid fa-trash" style="color: #e63946;"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
