@model IEnumerable<FPTBookStore.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Roles)
            </td>
            <td>
                <a asp-action="Edit" asp-asp-controller="ApplicationUser" asp-route-id="@item.Id"><i class="fa-solid fa-pen-to-square" style="color: #588157;"></i></a>
                <a asp-action="Details" asp-asp-controller="ApplicationUser" asp-route-id="@item.Id"><i class="fa-solid fa-circle-info" style="color: #219ebc;"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
