@model FPTBookStore.Models.Book
@{
    ViewData["Title"] = "Book";

}
<partial name="Header" />


<body>
    <div class="products" style="background-color: whitesmoke; border-radius: 10px; padding: 20px 0;">
        <h2 style="text-align: left; padding-left: 85px; padding-top: 0"><a href="/Home/Shop" style="font-size:20px"><i class="fa fa-arrow-left" aria-hidden="true"></i>    </a> | Book details</h2>
        <hr style="width: 90%; margin:10px auto 20px auto;" />
        <div class="container">
            <div class="single-page">
                <div class="single-page-row" id="detail-21">
                    <div class="col-md-6 single-top-left">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="@Html.DisplayFor(model => model.Image)">
                                    <div class="thumb-image detail_images"> <img src="@Html.DisplayFor(model => model.Image)" data-imagezoom="true" class="img-responsive" alt="" style="border-radius: 5px"> </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 single-top-right">
                        <h3 class="item_name"> @Html.DisplayFor(model => model.BookTitle)</h3>
                        <div class="single-price">
                            <ul>
                                <li>$@Html.DisplayFor(model => model.Price)</li>
                                <p>Category: @Html.DisplayFor(model => model.Category.CategoryName)</p>
                                <p>Pages: @Html.DisplayFor(model => model.Pages)</p>
                                <p>Author: <a href="../AuthorSingle/@Html.DisplayFor(model => model.AuthorId)">@Html.DisplayFor(model => model.Author.AuthorName)</a></p>
                                @if (Model.Available > 10)
                                {
                                    <p><i class="fa-solid fa-check" style="color: #109844;"></i> In Stock (@Model.Available)</p>
                                }
                                else if (Model.Available == 0)
                                {
                                    <p><i class="fa-solid fa-xmark" style="color: #cb3434;"></i> Out of Stock</p>
                                }
                                else
                                {
                                    <p><i class="fa-solid fa-triangle-exclamation" style="color: #d6b12e;"></i> Only @Model.Available left</p>
                                }
                            </ul>
                        </div>
                        <p class="single-price-text">@Html.DisplayFor(model => model.Description)</p>
                        <button onclick="add(@Model.BookId)" class="w3ls-cart">
                            <i class="fa fa-cart-plus" aria-hidden="true"></i>
                            Add to cart
                        </button>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>

        </div>
    </div>

    <hr />
    <div class="footer">
        <div class="container">
        </div>
    </div>
</body>
</html>

<script>
    function add(bookId) {
        var usernameEl = document.getElementById("username");
        if (usernameEl == null) {
            window.location.href = "/Identity/Account/Login";
        } else {
            window.location.href = `/Cart/AddItem?bookId=${bookId}`;
        }
    }
</script>
